# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

bin/
logs/
/.gradle/
.DS_Store
.idea/
*.iml
*.log
classes/
.project
.classpath
.settings
**/.DS_Store
